*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

.brandSize, .nav-item
{
    font-size: 1rem;
}

.bgVid
{

    left: 0;
    margin: 0 auto;

    overflow: hidden;
    position: absolute;
    top: .6vh;
    width: 100vw;
    z-index: 0;
}

.material-icons
{
    font-size: 3rem;
}

.catchPhrase
{
    color: aliceblue;
    font-size: 1.8rem;
    left: auto;
    opacity: .9;
    padding: 1rem;
    position: absolute;
    top: 25vh;
    z-index: 1;
}

.slogan
{
    color: aliceblue;
    font-size: 1.1rem;
    font-style: italic;
    left: auto;
    opacity: .9;
    padding: 1rem;
    position: absolute;
    top: 36vh;
    z-index: 1;
}

.banner
{
    color: aliceblue;
    font-size: 1.8rem;
    height: 10vh;
    opacity: .8;
    padding-top: 2vh;
    position: absolute;
    top: 51vh;
    width: 100vw;
    z-index: 1;
}

.quickAccess
{
    background-color: #039;
}

.card-img
{
    background-color: red;
    border-radius: 50%;
    height: 25vh;
    position: relative;
    width: auto;
}

.agents
{
    opacity: .9;
    position: absolute;
    top: 70vh;
}

/* Begin @Media */
@media screen and (max-width: 480px)
{
    .brandSize
    {
        font-size: .84rem;
    }

    .catchPhrase
    {
        font-size: .95rem;
        font-weight: bold;
        margin-bottom: 1rem;
        top: 13vh;
    }

    .slogan
    {
        font-size: .95rem;
        margin-top: 1rem;
        top: 18vh;
    }

    .banner
    {
        margin-top: -20.75vh;
    }

    .quote, .billClaims, .reviews
    {
        font-size: 1rem;
        text-align: left;
    }
}

/* End @Media */