*{
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar
{
    opacity: .9;
}

.brandSize, .nav-item
{
    font-size: 1rem;
}

.bgVid
{
    height: 100%;
    left: 0;
    margin-top: .6vh;
    width: 100%;
    top: 0;
    z-index: 0;
}

.material-icons
{
    font-size: 3rem;
}

.catchPhrase
{
    color: aliceblue;
    font-size: 1.8rem;
    left: auto;
    opacity: .8;
    padding: 1rem;
    position: absolute;
    top: 25vh;
    z-index: 1;
}

.slogan
{
    color: aliceblue;
    font-size: 1.1rem;
    font-style: italic;
    left: auto;
    opacity: .9;
    padding: 1rem;
    position: absolute;
    top: 36vh;
    z-index: 1;
}

.jumbotron
{
    background-color: #039;
    color: aliceblue;
    font-size: 1.8rem;
    height: 10vh;
    left: 0;
    opacity: .7;
    padding-top: 2vh;
    position: absolute;
    top: 51vh;
    width: 100%;
    z-index: 1;
}

.card-img
{
    background-color: red;
    border-radius: 50%;
    height: 25vh;
    position: relative;
    width: auto;
}

/* Begin @Media */
@media screen and (max-width: 480px)
{
    .brandSize
    {
        font-size: .84rem;
    }

    .catchPhrase
    {
        font-size: .95rem;
        font-weight: bold;
        margin-bottom: 1rem;
        top: 13vh;
    }

    .slogan
    {
        font-size: .95rem;
        margin-top: 1rem;
        top: 18vh;
    }
}

/* End @Media */